<section class="flex">
    <mat-card class="w-[400px]" matTooltip="nagyon meno mosogep egyebkent kisfiam beleszart eddig 4x de ki let takaritva lacodik a kepen is meg ja">
        <mat-card-header>
            <mat-card-title class="pb-4">
                <span class="text-2xl">elado mosogep nics fedele de jol mukdik</span>
            </mat-card-title>
            <mat-card-subtitle>
              <div class="flex gap-2">
                <span>190 000 Ft</span>
                <span>•</span>
                <span>lacikagaming</span>
              </div>
            </mat-card-subtitle>
        </mat-card-header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw7QWygEu9HEVpzQbXsfQyyk7kHGFyrxbXDGUJeHs6v3Yj2dO6tiLR-8xb-8irmTZkzcw&usqp=CAU"
          alt=""
          mat-card-image
          class="h-[200px] my-2"
          >
        <mat-card-content class="!flex flex-col">
            <div class="flex">
            </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="flex justify-between px-4 text-gray-400">
            <span>ingatlan</span>
            <span>2024 02 12</span>
          </div>
        </mat-card-footer>
        <mat-card-actions>
            <button mat-flat-button class="w-full">Megvesz</button>
        </mat-card-actions>
    </mat-card>
</section>
