<mat-sidenav-container class="h-full w-full" opened="true" autosize>
  <mat-sidenav #drawer mode="side" class="drop-shadow" id="sidebar">
    <mat-list class="h-full">
      <mat-list-item>
        <span class="text-2xl font-medium cursor-pointer" (click)="this.navigateTo('/')">Aprohirdeteses fekalia</span>
      </mat-list-item>

      <!-- Authed region -->
      @if (this.isAuthed) {
      <ng-container>
        <mat-list-item>
          <span>Advertisements</span>
        </mat-list-item>
        <mat-list-item>
          <button type="button" mat-button (click)="this.navigateTo('/')">
            <mat-icon>list</mat-icon>
            Adverts
          </button>
        </mat-list-item>
        <mat-list-item>
          <button type="button" mat-button (click)="this.navigateTo('/create')">
            <mat-icon>add_ad</mat-icon>
            Make an advert
          </button>
        </mat-list-item>
      </ng-container>

      <ng-container>
        <mat-list-item>
          <span>Auth</span>
        </mat-list-item>
        <mat-list-item>
          <button type="button" mat-button (click)="this.logout()">
            <mat-icon>logout</mat-icon>
            Log out
          </button>
        </mat-list-item>
      </ng-container>
      } @else {
      <!-- Auth region -->
      <ng-container>
        <mat-list-item>
          <span>Auth</span>
        </mat-list-item>
        <mat-list-item>
          <button type="button" mat-button (click)="this.navigateTo('/login')">
            <mat-icon>login</mat-icon>
            Log in
          </button>
        </mat-list-item>
        <mat-list-item>
          <button type="button" mat-button (click)="this.navigateTo('/register')">
            <mat-icon>how_to_reg</mat-icon>
            Register
          </button>
        </mat-list-item>
      </ng-container>
      }

      <mat-list-item class="pt-[100%]">
        <span class="text-zinc-400">
          copyright oblos fos fing 2024
        </span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-4">
    <div id="toolbar" class="flex items-center gap-4 mb-4">
      <button type="button" mat-mini-fab (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-nowrap font-mono">{{ szar }}</span>
      <mat-progress-bar mode="determinate" [value]="this.progressBarValue" #progressBar></mat-progress-bar>
    </div>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
